
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<div class="header">
  <a href="#" style="
  font-family: 'Roboto', sans-serif; font-size:20px;"><font color="white">My Online Profile App</font></a>
  <div class="header-right">
    <a class="nav-link" routerLink="/projects">Projects</a>
    <a class="nav-link" routerLink="/skills">Technical Skills</a>
    <a class="nav-link" routerLink="/certificates">Certificates</a>
    <a class="nav-link" routerLink="/internships">Internships</a>
  </div>
</div>


