<div class="card border-light mb-3">
    <div class="card-body">
      <h3 class="card-title"><b>ARYAK DESHPANDE</b></h3>
      <h4 class="card-title">B.E.(Information Technology)</h4>
      <p class="card-text" ><b>Email: </b>aryak.deshpande0512@gmail.com<br>
      <b>Mobile: </b>8928983835/9969400344<br>
      <b>LinkedIn: </b>
      <a href="https://www.linkedin.com/in/aryak0512/" target="blank">Go to LinkedIn</a><br>
      <b>GitHub: </b>
      <a href="https://github.com/aryak0512" target="blank">Go to GitHub</a><br><br>
      <button type="button" class="btn btn-primary">        
        <a href="/assets/Proper with badge.pdf" download><font color="white">DOWNLOAD RESUME</font></a>
      </button>
      </p>
    </div>
  </div>