
    <div class="card mb-3" id="card">
      
      <div class="card-body">
        <h5 class="card-title">Oracle Certified Associate </h5>
        <h6 class="card-subtitle text-muted">Java SE 8 Programmer</h6>
      </div>
      <img style="height: 250px; width:250px; display: block; align-content: center; padding:5%;" src="assets/Certified-Associate-JAVA-SE8-PROGRAMMER.png" alt="Card image">
      
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Date: </b>15th January 2020</li>
        <li class="list-group-item"><b>Issued by: </b> Oracle</li>
        <li class="list-group-item"> <a href="https://www.youracclaim.com/badges/7064741a-f3dc-4554-be65-2f84a1b66b0f/linked_in" target="blank" class="card-link"><b>BADGE VERIFICATION</b></a><BR></li>
        <li class="list-group-item"> <a href="/assets/Oracle-OCAJP.pdf" target="blank" class="card-link"><b>DOWNLOAD CERTIFICATE</b></a><BR></li>

        </ul>
     
    </div>

  